.events-container {
  direction: rtl;
  text-align: right;
  color: #333; /* טקסט כהה */
  font-family: Arial, sans-serif;
}
.header-event{
  color: #fffafa;
}
.events-list {
  list-style: none;
  padding: 0;
}

.event-item {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-info {
  flex: 1;
}

.event-image {
  position: relative;
  width: 120px;
}

.event-image img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

/* תאריך צף */
.event-date-box {
  position: absolute;
  top: 10px; /* לא יצוף מעל תפריט */
  right: 10px; /* מיקום נכון */
  background: #2c6e49;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  z-index: 10; /* לוודא שהתאריך לא יצוף מעל תפריטים */
}

.event-day {
  font-size: 18px;
}

.event-month {
  font-size: 14px;
}

.event-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.event-button.cancel {
  background-color: #d9534f;
}
.events-container {
  padding-top: 80px; /* דוחף את התוכן כלפי מטה כדי לא להיות מוסתר */
}
