/* כללי */
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif;
}

/* דף האירועים */
.events-page {
  background: linear-gradient(#e64141, #e6e6e6); /* או כל רקע שתרצה */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* עיצוב הכפתור */
.event-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 20px;
}

.event-button:hover {
  background-color: #45a049;
}

/* עיצוב הפופאפ */
.popup {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8a4dff;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
}

/* כפתור סגירה */
.close-button {
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close-button:hover {
  color: #ff6347;
}

/* עיצוב הטופס */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-size: 14px;
}

form input,
form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
  color: white;
}

form input:focus,
form textarea:focus {
  border-color: #4caf50;
}

form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
