/* 驻住  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  background: url("/public/images/kids.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #ffffffec;
}

/* 注 转专转 */
.login-page {
  direction: rtl;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

/*  爪转 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 转专转 注 */
.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-title {
  font-size: 32px;
  font-weight: bold;
  color: #261eb9;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 10px 20px;
  animation: fadeInUp 1s ease-out forwards;
}

.login-subtitle {
  font-size: 20px;
  color: #1448c1;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px 16px;
  border-radius: 8px;
  margin-bottom: 0px;
  animation: fadeInUp 1.2s ease-out forwards;
}

/* 驻住 注爪 */
.container {
  background-color: #a388a900;
  padding: 30px 40px;
  border-radius: 12px;
  width: 1000px;
  animation: fadeIn 1.5s ease-out forwards;
}

/* 转专转 转 驻住 */
.container h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  color: #000;
  text-shadow: 2px 2px 4px rgba(211, 59, 191, 0.3);
}

form h3 {
  font-size: 22px;
  text-align: center;
  color: #171616;
  margin-bottom: 20px;
}

/* 砖转 驻住 */
.input-box {
  margin-bottom: 15px;
  text-align: right;
}

.input-box span {
  display: block;
  margin-bottom: 6px;
  font-size: 15px;
  color: #ffffff;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  background-color: #fff;
  color: #000;
}

/* 驻转专 转专转 */
form .btn {
  width: 100%;
  padding: 12px;
  background: #5d4bff;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

form .btn:hover {
  background: #372d8f;
}

/* 拽砖专 拽住 转转 驻住 */
form p {
  text-align: center;
  margin: 15px 0;
  color: #000000;
}

form a {
  color: #f0adff;
  text-decoration: none;
  font-weight: bold;
}

form a:hover {
  text-decoration: underline;
}

/* 专住驻住转 */
@media (max-width: 500px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  .login-title {
    font-size: 26px;
  }

  .login-subtitle {
    font-size: 16px;
  }

  form h3 {
    font-size: 20px;
  }

  .input-box input {
    font-size: 14px;
  }
}
