/* עיצוב כללי */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  background: linear-gradient(#000000, #303030);
  color: #fff;
}

/* עיצוב הקונטיינר המרכזי */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 25px;
  background: #1f242d;
}

/* עיצוב הטופס */
form {
  width: 400px;
  padding: 30px;
  background: #a388a9;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px #87d3ec);
}

form h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

/* עיצוב השדות */
.input-box {
  margin-bottom: 15px;
}

.input-box span {
  display: block;
  margin-bottom: 5px;
  color: #ccc;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  background-color: #f7f7f7;
}

/* עיצוב הכפתור */
form .btn {
  width: 100%;
  padding: 12px;
  background: #c7c1f3;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

form .btn:hover {
  background: #492efc;
  filter: drop-shadow(0 0 5px #fdfafa);
}

/* עיצוב שגיאות */
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* רספונסיביות */
@media (max-width: 500px) {
  form {
    width: 100%;
    padding: 20px;
  }

  form h1 {
    font-size: 22px;
  }

  .input-box input {
    font-size: 14px;
  }
}
.gender-radio {
  margin: 20px 0;
  display: flex;
  flex-direction: row; /* הצגת הפריטים בשורה */
  justify-content: space-between; /* פיזור הפריטים באופן אחיד */
  gap: 20px 20px; /* הוספת ריווח בין הפריטים */
}
alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #a21d1d;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.gender-radio label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
}

.gender-radio input {
  margin-right: 10px;
  transform: scale(1.2); /* הגדלת כפתור הבחירה */
  accent-color: #492efc; /* צבע מותאם לכפתור */
}

.gender-radio label:hover {
  color: #c7c1f3; /* שינוי צבע הטקסט בהצבעה */
}
/* עיצוב למרחק בין שדה ההזנה לבין כפתור העזרה */
.input-with-tooltip {
  display: flex;
  align-items: center;
}

input {
  flex: 1; /* מאפשר לשדה ההזנה למלא את הרוחב */
}

/* עיצוב לאייקון עזרה */
.MuiIconButton-root {
  margin-left: 8px; /* מרווח בין שדה ההזנה לבין האייקון */
}
