.testimonials-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
    background-color: #f8f8f8;
  }
  
  .testimonial-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
    padding: 20px;
  }
  
  .testimonial-card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .testimonial-card h3 {
    margin-top: 16px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .testimonial-card .role {
    font-weight: 500;
    color: #555;
    margin: 5px 0;
  }
  
  .testimonial-card .text {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
  }
  .testimonial-card .name {
    font-size: 23px;
    color: #9f1212;
    margin-top: 10px;
  }